:root {
  --border-glow:
    inset 0 0 12px rgba(167, 235, 242, 0.35), 0 0 25px rgba(179, 218, 255, 0.45), 0 8px 30px rgba(0, 0, 0, 0.35);
  --colour-dark: rgb(229, 228, 228);
  --color-light: #38413e;
}

/* ================================================================================= 
/* RESET =========================================================================
/* ================================================================================= */

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* ================================================================================= 
/* GLOBAL =========================================================================
/* ================================================================================= */

body {
  min-height: 100vh;
  margin: 0;
  font-family: 'Commissioner', sans-serif;
  letter-spacing: 0.1rem;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}

/* ================================================================================= 
/* THEME ( LIGHT / DARK )=========================================================================
/* ================================================================================= */

body {
  background: #ffffff;
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(177, 204, 204, 1) 100%);
  color: var(--color-light);
}

body.dark {
  background: #2a689b;
  background: radial-gradient(circle, rgba(42, 104, 155, 1) 0%, rgba(22, 30, 77, 1) 100%);
  color: var(--colour-dark);
}

/* HEADER - THEME */
header,
footer {
  background-color: #bdd5ef;
}

.dark header,
.dark footer {
  background-color: #150540;
}

.wave {
  fill: #bdd5ef;
}

.dark .wave {
  fill: #150540;
}

/* Light mode */
.light .svg--moon-icon {
  stroke: var(--color-light);
  background-color: #bdd5ef;
}

.dark .svg--sun-icon {
  stroke: var(--colour-dark);
  background-color: #150540;
}

/* APP - VISUAL / THEME */
.app {
  background: #a2bed1;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  /*border-radius: 0;*/
  border: 1px solid rgba(167, 235, 242, 0.2);
  box-shadow:
    0 20px 60px rgba(0, 0, 0, 0.45),
    0 0 40px rgba(167, 235, 242, 0.15);
}

.dark .app {
  background-color: #15185b;
}

select,
input {
  background-color: #c7dfe1;
  color: var(--color-light);
  border: none;
}

.dark select,
.dark input {
  background-color: #202d6d;
  color: var(--colour-dark);
  border: none;
}

select:hover,
input:hover,
.btn:hover {
  box-shadow: var(--border-glow);
}

.dark select:focus,
.dark input:focus {
  outline: none;
  border: 1px solid #a7ebf2;
}

.btn {
  background-color: #e9cdb1;
  color: var(--color-light);
}

.dark .btn {
  background-color: #514dcd;
  color: white;
}

.budgetpost {
  background-color: #c7dfe1;
}

.dark .budgetpost {
  background-color: #39377f;
}

.dark .budgetpost__item {
  background-color: #575aa3;
}

.budgetpost__item {
  background-color: white;
}

.budgetpost__delete_btn {
  background-color: #efd2ee;
}

.budgetpost__delete_btn:hover {
  box-shadow: var(--border-glow);
}

.dark .budgetpost__delete_btn {
  background-color: #69a1c9;
  cursor: pointer;
}

.dark .balance {
  background-color: #202d6d;
}

/* ================================================================================= 
/* LAYOUT ========================================================================== 
/* ================================================================================= */

.app {
  width: 100%;
  height: 100vh;
  overflow-y: auto; /* scroll */
  padding: 0;
}

header {
  padding: 0.5rem;
}

h1 {
  padding: 1rem;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.7rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
}

section {
  margin-inline: 2.5rem;
  margin-bottom: 3rem;
}

@media (min-width: 32em) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .app {
    width: 100%;
    max-width: 26.25rem; /* 420 px */
    height: 85vh;
    border-radius: 1.5rem;
    overflow-y: auto;
  }
}

/* ================================================================================= 
/* FORM - LAYOUT ========================================================================== 
/* ================================================================================= */

form {
  display: grid;
  gap: 1rem;
}

.category,
.description,
.amount {
  display: flex;
  flex-direction: column;
}

/* ================================================================================= 
/* KOMPONENTER =========================================================================
/* ================================================================================= */

.theme-toggle {
  width: 2rem;
  height: 2rem;
  border: none;
  position: relative;
}

/* Göm båda ikonerna som default */
.theme-toggle .svg--sun-icon,
.theme-toggle .svg--moon-icon {
  position: absolute;
  inset: 0;
  margin: auto;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

/* Light mode */
.light .svg--moon-icon {
  opacity: 1;
  transform: rotate(0deg);
}

.dark .svg--sun-icon {
  opacity: 1;
  transform: rotate(0deg);
}

select,
input,
.btn {
  border-radius: 2rem;
  border: none;
  cursor: pointer;
  padding: 0.7rem;
  font-weight: 500;
  font-family: 'Commissioner', sans-serif;
  letter-spacing: 0.05rem;
  /*text-transform: uppercase;*/
}

.budgetpost-list {
  list-style: none;
  padding: 0;
  margin-top: 2rem;
  font-weight: 500;
  font-size: 0.9rem;
  font-family: 'Commissioner', sans-serif;
  letter-spacing: 0.05rem;
}

.budgetpost-list:empty {
  background-color: none;
  padding: 0;
  margin: 0;
}

.budgetpost ul {
  padding-left: 0;
}

.budgetpost {
  border-radius: 1rem;
  padding: 1rem;
  margin-top: 0.5rem;
}

.budgetpost__item {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding-inline: 0.7rem;
  padding-block: 0.5rem;
  margin-block: 0.5rem;
  border-radius: 0.5rem;
}

.budgetpost__description {
  flex: 1;
  text-align: left;
}

.budgetpost__amount {
  font-weight: 700;
  white-space: nowrap;
}

.budgetpost__delete_btn {
  margin-left: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  padding-inline: 0.4rem;
  padding-block: 0.2rem;
}

.balance {
  width: 8rem;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-align: center;
  padding: 0.7rem;
  margin: 2rem auto; /* auto vänster och höger */
  margin-bottom: 5rem;
  /* mjuk övergång mellan färgbyten */
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  font-weight: 700;
}

footer {
  padding: 3rem;
}

/* ================================================================================= 
/* FEEDBACK ========================================================================== 
/* ================================================================================= */

.dark .balance-positive {
  /*background-color: rgba(0, 180, 120, 0.2);*/
  color: #00e0a4;
  box-shadow: 0 0 0 4px rgba(0, 224, 164, 0.6);
}

.balance-positive {
  color: #1f7825;
  box-shadow: 0 0 0 4px rgba(27, 110, 88, 0.6);
}

.balance-negative {
  /*background-color: rgba(202, 175, 175, 0.25);*/
  color: #ff6b6b;
  box-shadow: 0 0 0 4px rgba(255, 107, 107, 0.6);
}

.balance-zero {
  /*background-color: rgba(150, 150, 150, 0.2);*/
  color: #cccccc;
  box-shadow: 0 0 0 4px rgba(200, 200, 200, 0.5);
}
